*{
	margin:0;
	padding:0;
}
body{
	background: #c5bcbc;
}
.wrapper{
	margin: 0  auto;
	width:960px;
}
.wrapper div:last-child{
	margin-right:0;
}
.nav{
}
.nav ul{
	height: 50px;
	background: black;
}
.nav ul li{
	display: block;
    float: left;
    list-style: none;
    position: relative;

}
.nav ul li a{
	display: inline-block;
    text-decoration: none;
    font-size: 22px;
    padding: 12px;
    color: red;
    background: black;
    width: 100px;
    text-align: center;
}
.nav ul li a:hover{
	color: black;
    background: #f0383c;
}

.nav ul li ul{
	position: absolute;
    left: -9999px;
    /*transition: 5s;*/
}
.nav ul li ul li{
	display: block;
    float: none;
}
.nav ul li ul li a{
	display: block;
}
.nav ul li:hover ul{
	left:0px;
    z-index: 1000;
}

.box{
	width: 300px;
	float:left;
	margin-right: 30px;
	text-align: justify;
}
.box img {
    width: 292px;
    height: 160px;
    border: 2px solid #F0383C;
    padding: 2px;
    background: #C5BCBC2b;
    border-radius: 5px;
    transition: .5s;
}
.box img:hover {
    width: 290px;
    height: 170px;
}
/*.no-margin{
	margin-right: 0;
}*/
h2{
	color:#F0383C;
	padding:5px 0;
}
.box a{
	background: #F0383C;
    color: #07d82b;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition:.5s;
}
.box a:hover{
	color:#f3f3f3;
}
